@import '../../assets/styles/utils/colors';

.error {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;

  &__code {
    font-size: 70px;
    color: $primary-color;
    margin-top: 20%;
    text-align: center;
  }

  &__msg {
    color: $secondary-color;
    font-size: 22px;
    font-weight: 100;
    text-align: center;
  }
}
