@import '../../../../assets/styles/utils/colors';

.search-field {
  background-color: $black-color;
  width: 100%;

  input {
    padding: 10px;
  }
}

.search-actions {
  display: grid;
  justify-content: space-between;
  grid-template-columns: min-content minmax(auto, 200px);
  grid-gap: 10px;
  margin-top: 15px;

  &__toolbar {
    align-items: center;
    display: grid;
    grid-template-columns: min-content min-content min-content;
    grid-gap: 7px;
  }
}
