@import 'utils/colors';
@import 'utils/fonts';

#root {
  width: 100%;
}

body {
  font-family: $roboto;
  font-size: 14px;
}

.netflix-title {
  color: $primary-color;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.font-bold {
  font-weight: 600;
}
