body {
  background: linear-gradient(to left, #ccc, #eee7f6);
  color: #f8f8f8;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
}

.autoprefixer-test {
  user-select: none;
}
